
body{background-color:  rgb(84, 186, 226);}
nav{font-family: Oslwald;}

/* changes the color of the links, instead of just plain blue*/
.nextstep { color: teal;}

/* changes color of the card */
.card {position: relative;
  margin: auto;
     border-style: double;
     }

/* adds borders and color to the BS default button*/
.btn-default {border:solid;
             background-color: gray; }


.section{font-family: 'Special Elite';}
.headings{font-family: 'Oswald';}
.list-group-item{background-color:  rgb(140, 212, 240);}

.aligncards{position: relative;
  left: 30px;}


